
.breed-select {

    margin-bottom: 20px;
}



.cat-info {

    display: flex;
    gap: 20px;
}

.temper {

    font-weight:700;
}

.loader {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transform: translate(-50%);
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid blue;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: rgb(255, 255, 0);
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  .hidden {

    display: none;
}


.custom-select-container {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
  }
  
